# coloque seus dados aqui e renomeie o arquivo tirando o.example
# caso não coloque isso o terraform solicitará cada uma das informações abaixo manualmente (bem paia)

project_id        = ""
region            = ""
zone              = ""
network_name      = ""
subnet_name       = ""
subnet_cidr       = ""
//allowed_admin_ips = ["SEU_IP_PUBLICO/32"]
game_port         = 28960
extra_udp_ports   = ["27015","27016-27030"]
extra_tcp_ports   = ["27015","27016-27030"]
tags              = [""]
instance_name     = ""
address_name     = ""
service_account_email = ""
alert_email       = ""